<%- include('components/header.ejs') %>

<h1>Home page</h1>
<h3>List of Products</h3>
<ul>
  <% products.forEach((product) => { %>
    <li><%= product.name %></li>
  <% }); %>
</ul>

<%- include('components/footer.ejs') %>
